<h1 class="form_title">編集</h1>

<div class = "form__wrapper">
<%= render partial:'form', locals: {url: recipe_path(@recipe.id) ,method: :patch} %>
</div>

<div>
<%= link_to "戻る" , recipe_path %>
</div>