
.body_container{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  max-width: 800px; /* PCでも一定の大きさを保つ */
  margin: 0 auto;
  min-height: 100vh;
  background-color: #FADBA0;
 }

 .main_container{
  height: 100vh;
  background-color: white;
  text-align: center;
  font-weight: 100;
  font-style: normal;
  font-family: "Zen Kaku Gothic New", sans-serif;
 }

/* ヘッダー */
.main_header{
  font-size: 16px;
  display: flex;
  justify-content:space-around;
  border-bottom: dotted 3px #8ad2ef;

}

/* トップページ（レシピ一覧） */

.recipe-lists{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 100vh;
  }

.list{
  width: 37vh;
  padding: 1vh;
}

.recipe-img-content {
  position: relative;
}

.recipe-img {
  width: 33vh;
  height: 33vh;
}


