/* レシピ一覧 */

.recipe-lists{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.photo-frame {
  position: relative;
  font-weight: bold;
}
.photo-frame  {
  display: block;
  width: 245px;
  height: 245px;
  background: #fff;
  padding: 10px 10px 40px; 
  margin: 10px;
  box-shadow: 0 4px 10px #333;
  text-align: center;
}

 /*　画面サイズが800pxまではここを読み込む　*/
@media screen and (max-width:800px) {
 
  .recipe-lists {
    display: flex;
    align-items: center;
    flex-direction: column; /* 縦並び */
    width: 100%; /* 画面幅 */
}

}